.containner1__main {
    width: 100%;
    height: 80vh;
    background-color: rgb(0, 0, 0);
    display: flex;
}

.box1__main {
    background-color: var(--cor3);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__subtitulo {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: var(--fonte2);
    letter-spacing: 1rem;
    color: var(--cor4);
}

.main__titulo {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
    font-size: 3.5rem;
    font-weight: bolder;
    border-bottom: 5px solid var(--cor4);
    font-family: var(--fonte2);
    color: var(--cor1);
}

.main__frase{
    margin-left: 4rem;
    margin-right: 4rem;
    text-align: left;
    color: var(--cor1);
    font-family: var(--fonte2);
}

.botao__agenda {
    margin-left: 4rem;
    margin-top: 2rem;
    color: var(--cor1);
    font-size: 1rem;
    font-family: var(--fonte2);
    width: 12rem;
    height: 2rem;
    background-color: var(--cor4);
    text-align: center;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    padding: 0 0.3rem;
    cursor: pointer;
    transition: 1s;
}

.botao__agenda:hover {
    background-color: var(--cor1);
    color: var(--cor3);
    margin-left: 5rem;
}

.box2__warper{
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.box2__main {
    background-image: url(../images/caixas\ de\ skinner.jpg);
    transition: transform 20s;
    background-position: center;
    background-size: cover;
    background-color: blueviolet;
    width: 100%;
    height: 100%;
}



.containner2__main {
    width: 100%;
    height: 80vh;
}

@media (max-width: 1060px){
    .main__titulo {
    font-size: 2rem;
    }
}

@media (max-width: 800px){
    .containner__main {
        height: 50vh;
    }
    .main__frase{
        display: none;
    }
    .main__titulo {
        font-size: 1rem;
    }
    .botao__agenda {
        margin-top: 0;
    }
   
}

@media (max-width: 600px){
    .box2__warper{
        display: none;
    }
    .box1__main {
        width: 100%;

    }
}

@media (max-width: 476px){
    .header__titulo{
        font-size: 1.5rem;
    }
    .header__menu{
        margin-top: 1.5rem;
        width: auto;
    }
    .header__menu_opcao{
        font-size: 0.5rem;
    }
}

@media (max-width: 327px){
    .header__titulo{
        font-size: 1rem;
    }
    .header__menu{
        margin-top: 1.5rem;
        margin-left: 0;
    }
    .main__subtitulo, .main__titulo, .botao__agenda {
        margin-left: 2rem;
    }
}