@import url(reset.css);
@import url(header.css);
@import url(main.css);

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {

    --cor1: #FFFFFF;
    --cor2: #ECE5D8;
    --cor3: #19323C;
    --cor4: #E4341C;

    --fonte1:"Manrope", sans-serif;
    --fonte2:"Work Sans", sans-serif;

}

.gap {
    width: 100%;
    height: 20vh;
    background-color: #E4341C;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:hover{
    opacity: 0.7;
}